<section style="margin-bottom: 200px">
  <div class="title">
    <h1>
      {{ "A sua plataforma de compartilhamento" }}
    </h1>
    <p>
      {{
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "
      }}
    </p>
  </div>
  <div class="cards__container">
    <img src="assets/card-home-1.svg"/>
    <img src="assets/card-home-2.svg"/>
    <img src="assets/card-home-3.svg"/>
  </div>
  <div class="block-shadow"></div>
</section>
