.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  p {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    width: 50%;
  }
}

.block-shadow {
  position: absolute;
  z-index: -1;
  width: 50%;
  height: 410px;
  margin-top: -400px;
  background: rgba(51, 110, 255, 0.4);
  opacity: 0.2;
}

.cards__container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around
}

@media (max-width: 450px) {
  .title {
    padding: 20px;

    h1 {
      font-size: 28px;
      line-height: 1.5;
    }

    p {
      font-size: 20px;
      width: 100%;
    }
  }

  .cards__container {
    flex-direction: column;
  }
}
