<header class="wrapper__header">
  <div class="mobile">
    <dc-side-navigation-menu [links]="routers"> </dc-side-navigation-menu>
  </div>
  <div class="d-flex">
    <img class="w-100" src="assets/logo-1.svg" />
    <img class="w-100 ml-3 desktop" src="assets/logo-1-branca.svg" />
  </div>
  <div class="d-flex align-items-center desktop">
    <button class="btn-default">{{ "edit_profile" | translate }}</button>
    <img class="img--profile ml-3" [src]="imgFakeUser" />
  </div>
</header>
