.wrapper__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 31px 4px 31px;
}

.img--profile {
  border-radius: 50%;
  width: 59px;
}


.mobile {
  display: none
}

@media (max-width: 450px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block
  }

  .wrapper__header {
    padding: 10px
  }
}
