<div class="wrapper">
  <img class="img_left-top" src="assets/register_leftTop.svg"/>
  <header class="block__header">
    <nav routerLink="/" class="d-flex align-items-center">
      <i class="fa fa-angle-left mr-2" aria-hidden="true"></i>
      <span>{{ "return" | translate | uppercase }}</span>
    </nav>
    <div class="flex-center">
      <img class="img-header" src="assets/logo.svg"/>
    </div>
    <span class="none"></span>
  </header>

  <div class="block__form">
    <div class="wrapper_title">
      <h1 class="title">
        {{ "Seja bem vindo a" }} <b class="blue">{{ "Divide comigo" }}</b
        >, {{ "juntos seremos ótimos parceiros" }}.
      </h1>
    </div>
    <form [formGroup]="form" class="form">
      <div
        class="mb-input"
        [ngClass]="{
          'mb-input-invalid':
            form.controls.name.touched && !form.controls.name.valid
        }"
      >
        <dc-input [formControlInput]="form.controls.name">
          <input
            type="text"
            formControlName="name"
            placeholder="{{ 'full_name' | translate }}"
            class="text-input"
            [ngClass]="{
              'input-invalid':
                form.controls.name.touched && !form.controls.name.valid
            }"
          />
        </dc-input>
      </div>
      <div
        class="mb-input"
        [ngClass]="{
          'mb-input-invalid':
            form.controls.email.touched && !form.controls.email.valid
        }"
      >
        <dc-input [formControlInput]="form.controls.email">
          <input
            #email
            type="email"
            autocomplete="off"
            formControlName="email"
            placeholder="{{ 'email' | translate }}"
            class="text-input"
            [ngClass]="{
              'input-invalid':
                form.controls.email.touched && !form.controls.email.valid
            }"
          />
        </dc-input>
      </div>
      <div
        class="mb-input"
        [ngClass]="{
          'mb-input-invalid':
            form.controls.password.touched && !form.controls.password.valid
        }"
      >
        <dc-input [formControlInput]="form.controls.password">
          <input
            type="password"
            formControlName="password"
            placeholder="{{ 'password' | translate }}{{ '   (min - 8)' }}"
            class="text-input"
            [ngClass]="{
              'input-invalid':
                form.controls.password.touched && !form.controls.password.valid
            }"
          />
        </dc-input>
      </div>
      <div
        class="mb-input-last"
        [ngClass]="{
          'mb-input-last-invalid':
            form.controls.confirmPassword.touched &&
            !form.controls.confirmPassword.valid
        }"
      >
        <dc-input
          [formControlInput]="form.controls.confirmPassword"
          [formControlConfirmPassword]="form.controls.password"
        >
          <input
            type="password"
            formControlName="confirmPassword"
            placeholder="{{ 'password_confirm' | translate }}"
            class="text-input"
            [ngClass]="{
              'input-invalid':
                form.controls.confirmPassword.touched &&
                !form.controls.confirmPassword.valid
            }"
          />
        </dc-input>
      </div>
      <div class="flex-center mt-3">
        <button class="btn-primary" (click)="register()">
          {{ "confirm" | translate }}
        </button>
      </div>
    </form>
  </div>
  <img class="img_right-Bottom" src="assets/register_rightBottom.svg"/>
</div>
