.wrapper {
  width: 100%;
  height: calc(100vh);
  overflow: hidden;
}

.img_left-top {
  width: 1220px;
  position: fixed;
  left: -526px;
  top: -604px;
  z-index: -1;
}

.img_right-Bottom {
  z-index: -1;
  position: fixed;
  width: 1008px;
  top: calc(100vh - 38rem);
  right: -423px;
}

.block__header {
  font-family: 'Slabo 13px', serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 25px 40px 25px 40px;

}

.img-header {
  width: 226.27px;
}

.block__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 5rem);

}

.form {
  max-width: 430px;
  width: 100%;

}

.mb-input {
  margin-bottom: 32px;
}

.mb-input-invalid {
  margin-bottom: 16px;
}

.mb-input-last {
  margin-bottom: 62px;
}

.mb-input-last-invalid {
  margin-bottom: 46px;
}

.wrapper_title {
  max-width: 562px;
  width: 100%;
}


.title {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  margin: 0;
  margin-bottom: 69px;
  color: #E8EAED;
}

.blue {
  color: #336EFF
}



@media (max-width: 450px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .img-header {
    margin-left: 0;
  }

  .mb-input {
    margin-bottom: 16px;
  }

  .mb-input-lest {
    margin-bottom: 32px;
  }

  .block__form {
    padding: 20px;
  }

  .title {
    font-size: 28px
  }



  .block__header {
    font-family: 'Slabo 13px', serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px
  }
}
