.nav {
  padding: 0px 40px 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}



.item {
  display: flex;
  align-items: center;
  height: 43px;
  text-align: left;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;

  color: #E8EAED;
}

.nav-button {
  cursor: pointer;

  display: flex;
  align-items: center;
  padding: 0px 30px;
  grid-gap: 13px
}

.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-gap: 24px;
}

.pointer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.selected {
  background: #336EFF;
  border-radius: 13px;
  width: 160px;
  transition: 0.6s all ease;
}


.pointer-selected {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #336EFF;
}
