<section class="nav">
  <nav>
    <ul class="nav-items">
      <li
        (click)="redirectMyGroups()"
        class="nav-button"
        [ngClass]="{ selected: myGroups }"
      >
        <div class="pointer">
          <div [ngClass]="{ 'pointer-selected': myGroups }"></div>
        </div>
        <a class="item">{{ "Meus grupos" }}</a>
      </li>

      <li
        (click)="redirectCreateGroup()"
        class="nav-button"
        [ngClass]="{ selected: createGroup }"
      >
        <div class="pointer">
          <div [ngClass]="{ 'pointer-selected': createGroup }"></div>
        </div>
        <a class="item">{{ "Criar grupos" }}</a>
      </li>

      <li
        (click)="redirectExplorer()"
        class="nav-button"
        [ngClass]="{ selected: explorer }"
      >
        <div class="pointer">
          <div [ngClass]="{ 'pointer-selected': explorer }"></div>
        </div>
        <a class="item">{{ "Explorar" }}</a>
      </li>

      <li
        (click)="redirectFinancial()"
        class="nav-button"
        [ngClass]="{ selected: finance }"
      >
        <div class="pointer">
          <div [ngClass]="{ 'pointer-selected': finance }"></div>
        </div>
        <a class="item">{{ "Financeiro" }}</a>
      </li>

      <li
        (click)="redirectConfiguration()"
        class="nav-button"
        [ngClass]="{ selected: config }"
      >
        <div class="pointer">
          <div [ngClass]="{ 'pointer-selected': config }"></div>
        </div>
        <a class="item">{{ "Configuração" }}</a>
      </li>
    </ul>
  </nav>
  <a>Pergutas frequentes</a>
</section>
