.circle {
  background: linear-gradient(145.57deg, #336EFF 20.33%, #003BCC 107.54%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.wrapper__separator {
  display: flex;
  grid-gap: 5.5px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 450px) {
  .wrapper__separator {
    flex-direction: column;
  }
}
