<div class="wrapper__header">
  <div class="mobile">
    <dc-side-navigation-menu [links]="routers"></dc-side-navigation-menu>
  </div>
  <div class="d-flex">
    <img class="w-100" src="assets/logo-1.svg" />
    <img class="w-100 ml-2" src="assets/logo-1-branca.svg" />
  </div>

  <nav class="d-flex desktop">
    <button routerLink="/auth/signIn" class="btn-default">
      <span>Login</span>
    </button>
    <button class="btn-primary ml-3" routerLink="/auth/signUp">
      <span>{{ "start_to_divide" | translate }}</span>
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </button>
  </nav>
</div>
