.wrapper__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.688rem 2.5rem 1.688rem 2.5rem;
}

.mobile {
  display: none
}

@media (max-width: 450px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block
  }

  .wrapper__header {
    padding: 10px
  }
}
