@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');

.wrapper {
  width: 100%;
  height: calc(100vh);
  overflow: hidden;
}

.img_left-top {
  width: 1220px;
  position: fixed;
  left: -526px;
  top: -604px;
  z-index: -1;
}

.img_right-Bottom {
  z-index: -1;
  position: fixed;
  width: 1008px;
  top: calc(100vh - 38rem);
  right: -423px;
}

.block__header {
  font-family: 'Slabo 13px', serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 25px 40px 25px 40px;

}

.grid-one {
  grid-template-columns: 1fr !important;
}

.image-user {
  border-radius: 50%;
  width: 45%;

}


.message--user {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  text-align: center;

  color: #E8EAED;
}

.img-header {
  width: 226.27px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.wrapper_form {
  max-width: 430px;
  width: 100%;
}



.logo-mb {
  margin-bottom: 3rem;
}

@media (max-width: 450px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .img-header {
    margin-left: 0;
  }

  .none {
    display: none;
  }

  .block__header {
    font-family: 'Slabo 13px', serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px
  }
}
