<div class="wrapper">
  <img *ngIf="emailCollected" class="img_left-top" src="assets/register_leftTop.svg"/>

  <header class="block__header">
    <nav routerLink="/" class="d-flex align-items-center">
      <i class="fa fa-angle-left mr-2" aria-hidden="true"></i>
      <span>{{ "return" | translate | uppercase }}</span>
    </nav>
    <div class="flex-center">
      <img  class="img-header" src="assets/logo.svg"/>
    </div>
    <span class="none"></span>
  </header>
  <section class="grid" [ngClass]="{ 'grid-one': emailCollected }">
    <div
      class="none"
      [ngStyle]="{ display: emailCollected ? 'none' : null }"
    ></div>
    <section class="flex-center">
      <div class="wrapper_form">
        <div *ngIf="!emailCollected" class="logo-mb">
          <img class="w-100" src="assets/logo.svg" />
        </div>
        <div class="flex-center" *ngIf="emailCollected">
          <img class="image-user" [src]="imgFakeUser" />
          <h1 class="message--user">
            {{ "welcome" | translate }} {{ userService.userName | titlecase }}
          </h1>
        </div>
        <form [formGroup]="form" class="mb-3">
          <div *ngIf="emailInvalid">
            {{ "email_not_create" }}
          </div>
          <input
            (ngModelChange)="emailInvalid = false"
            (keyup.enter)="verifyEmail()"
            [ngClass]="{
              'input-invalid': form.touched && !form.controls.email.valid
            }"
            *ngIf="!emailCollected"
            type="email"
            formControlName="email"
            placeholder="{{ 'Email' | translate }}"
            class="text-input"
          />
          <span
            class="danger"
            *ngIf="form.touched && form.controls.email?.errors?.email"
          >
            {{ "email-invalid" | translate }}
          </span>
          <span
            class="danger"
            *ngIf="form.touched && form.controls.email?.errors?.required"
            >{{ "email-required" | translate }}
          </span>
          <input
            [ngClass]="{
              'input-invalid':
                (form.controls.password.touched &&
                  !form.controls.password.valid) ||
                wrongPassword.isIncorrect
            }"
            *ngIf="emailCollected"
            (keyup.enter)="login()"
            type="password"
            formControlName="password"
            placeholder="{{ 'password' | translate }}"
            class="text-input"
          />
          <span class="danger" *ngIf="wrongPassword.isIncorrect">
            {{ "wrong_password" | translate }} {{ wrongPassword.attempt - 3 }}
            {{ "attempt" | translate }}
          </span>
          <span
            class="danger"
            *ngIf="
              form.controls.password.touched &&
              form.controls.password?.errors?.required
            "
            >{{ "password_required" | translate }}
          </span>
        </form>
        <div *ngIf="emailCollected" class="d-flex justify-space">
          <button class="btn-default">
            {{ "recover_password" | translate }}
          </button>
          <button class="btn-primary" (click)="login()">
            {{ "next" | translate }}
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </button>
        </div>
        <div *ngIf="!emailCollected" class="d-flex justify-space">
          <button class="btn-default">
            {{ "create_account" | translate }}
          </button>
          <button class="btn-primary" (click)="verifyEmail()">
            {{ "next" | translate }}
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </section>
  </section>
  <img  *ngIf="emailCollected"  class="img_right-Bottom" src="assets/register_rightBottom.svg"/>

