.title {
  background: #336EFF;
  border-radius: 16px 0px 16px 16px;
  width: max-content;
}

h1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  margin: 0;
  align-items: center;
  padding: 10px 28px 10px 28px;
}


.wrapper_form {
  padding: 30px;
}

.font-10 {
  font-size: 12px !important;
}

.grid--form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 70px 60px;
}

.column--form {
  display: flex;
  flex-direction: column;
  grid-gap: 40px
}
