<header>
  <div class="title">
    <h1>
      {{ "create_groups" | translate }}
    </h1>
  </div>
</header>
<section class="wrapper_form">
  <form class="grid--form" [formGroup]="form">
    <section class="column--form">
      <dc-input [formControlInput]="form.controls.name">
        <input
          type="text"
          formControlName="name"
          placeholder="{{ 'name' | translate }}"
          class="text-input"
          [ngClass]="{
            'input-invalid':
              form.controls.name.touched && !form.controls.name.valid
          }"
        />
      </dc-input>
      <dc-input [formControlInput]="form.controls.description">
        <input
          type="text"
          formControlName="description"
          placeholder="{{ 'description' | translate }}"
          class="text-input"
          [ngClass]="{
            'input-invalid':
              form.controls.description.touched &&
              !form.controls.description.valid
          }"
        />
      </dc-input>
      <dc-input [formControlInput]="form.controls.typeGroup">
        <select
          type="text w-100"
          formControlName="typeGroup"
          class="text-input"
          [ngClass]="{
            'input-invalid':
              form.controls.typeGroup.touched && !form.controls.typeGroup.valid
          }"
        >
          <option [value]="null" disabled>
            {{ "type_group" | translate }}
          </option>
          <option *ngFor="let type of typesGroups" [value]="type.id">
            {{ type.description | translate }}
          </option>
        </select>
      </dc-input>
    </section>

    <section class="column--form">
      <div class="d-flex" style="grid-gap: 20px">
        <dc-input [formControlInput]="form.controls.membersAmount">
          <input
            type="text"
            formControlName="membersAmount"
            placeholder="{{ 'member_amount' | translate }}"
            class="text-input"
            [ngClass]="{
              'input-invalid':
                form.controls.membersAmount.touched &&
                !form.controls.membersAmount.valid
            }"
          />
        </dc-input>
        <dc-input [formControlInput]="form.controls.price">
          <input
            type="text"
            formControlName="price"
            placeholder="{{ 'price' | translate }}"
            class="text-input"
            (blur)="transformAmount($event)"
            [ngClass]="{
              'input-invalid':
                form.controls.price.touched && !form.controls.price.valid
            }"
          />
        </dc-input>
      </div>
      <div class="d-flex" style="grid-gap: 10px">
        <form [formGroup]="validEmailMember">
          <dc-input [formControlInput]="validEmailMember.controls.email">
            <input
              type="text"
              placeholder="{{ 'email_member' | translate }}"
              class="text-input"
              formControlName="email"
            />
          </dc-input>
        </form>
        <button class="btn-default" (click)="addNewMember()">
          {{ "add" | translate }}
        </button>
      </div>
      <div>
        <div
          *ngFor="let member of members; index as $index"
          class="d-flex align-items-center"
          style="grid-gap: 10px"
        >
          <span>{{ member }}</span>
          <i
            (click)="removeUser($index)"
            class="fa fa-user-times font-10 cursor-pointer"
          ></i>
        </div>
      </div>
    </section>
  </form>
  <div class="mt-3">
    <button (click)="createNewGroup()" class="btn-primary">
      {{ "create_group" | translate }}
    </button>
  </div>
</section>
