.wrapper {
  width: 100%;
  height: calc(100vh);
  overflow: hidden;
}

.btn-logout {
  margin-top: auto;
  font-size: 28px;

}

.content {
  margin-top: 40px;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 4.5fr;
  grid-gap: 30px;
}

.wrapper__content {
  background: #202530;
  border-radius: 26px;
}



.side-menu {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 10rem);
}

.mobile {
  display: none
}

@media (max-width: 450px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block
  }

  .content {
    grid-template-columns: 1fr
  }

}
