<div class="wrapper">
  <dc-header-platform> </dc-header-platform>
  <div class="content">
    <div class="side-menu desktop">
      <dc-side-menu> </dc-side-menu>
      <div class="flex-center mt-auto">
        <button class="btn-default" (click)="logout()">
          {{ "exit" }}
          <i class="fa fa-sign-out ml-2" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="wrapper__content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
