.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  width: 36px;
  background: transparent;
  border: none;
  cursor: pointer;
  box-sizing: border-box;


  :focus {
    outline: none;
  }

  .line {
    width: 30px;
    height: 2px;
    background-color: #7D939F;
  }
}

.container-side {

  .ul-padding {
    padding: 0 0 0 5px;
  }

  .open {
    z-index: 99999;
    height: 100%;
    border-radius: 4px;
    background: #F6F6F6;
    box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    max-width: 30%;
    max-width: 300px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    width: 100%;
    z-index: 200;

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
    }

    li {
      margin-top: 10px;
      list-style: none;
    }

    .button {
      margin-top: 10px;
      margin: 0px 0px 0px 10px;
      cursor: pointer;
      font-weight: bold;
      font-size: 16px;
      background: #18303A;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    @media (max-width: 800px) {
      width: 60%;
    }

  }

  .sideMenu {
    height: 100%;
    border-radius: 4px;
    background: #F6F6F6;
    box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    max-width: 30%;
    max-width: 300px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;

    @media (max-width: 800px) {
      width: 60%;
    }

    width: 100%;
    z-index: 200;



    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      list-style-type: none;
    }

    li {
      margin-top: 15px;
      list-style: none;
      list-style-type: none;
    }

    .button {
      margin-top: 10px;
      margin: 0px 0px 0px 10px;
      cursor: pointer;
      font-weight: bold;
      font-size: 16px;
      background: #18303A;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.bg-dark {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
