<div class="container" (click)="isOpen = true; sideMenu.emit(true)">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>
<nav class="container-side">
  <nav [ngClass]="{ 'sideMenu open': isOpen, sideMenu: !isOpen }">
    <ul class="ul-padding">
      <li *ngFor="let router of links" (click)="isOpen = false">
        <a [routerLink]="router.link" class="button">
          {{ router.description | translate }}
        </a>
      </li>
    </ul>
  </nav>
</nav>
<div
  *ngIf="isOpen"
  (click)="isOpen = false; sideMenu.emit(false)"
  class="bg-dark"
></div>
