gird-2 {
  display: grid;
  padding: 120px 0px 10px 40px;
  grid-template-columns: 1.1fr 1fr;
}


.block__2 {
  padding: 10px 55px 10px 55px;
}

.block__cards {
  background: #232529;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  display: grid;
  align-items: center;
  padding: 60px 40px 60px 40px;
  grid-template-columns: 1fr 0.3fr 1fr 0.3fr 1fr;
}



.block--light {
  position: absolute;
  border-radius: 13px;
  background: radial-gradient(50% 50% at 50% 50%, #003BCC 0%, #336EFF 47.4%, #80A4FF 98.44%);
  opacity: 0.55;
  width: 250px;
  height: 350px;
  filter: blur(300px);
  z-index: -1;
}

.light-left {
  left: -100px;
  margin-top: 240px;
}

.light-right {
  margin-top: -370px;
  left: 60%;
}

.title--block__2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  display: flex;
  align-items: center;
  text-align: center;

}

@media (max-width: 450px) {

  .titile-1 {
    text-align: center;
    font-size: 28px;
    word-break: break-word;
    display: flex;
    align-self: center;
    justify-content: center;
  }

  .title--block__2 {
    text-align: center;
    font-size: 18px;
    word-break: break-word;

  }

  .title-2 {
    width: 100%;
    font-size: 24px;
    word-break: break-word;
    line-height: 1.5;
    margin: 0;
    text-align: center;
  }

  .title-3 {
    margin-top: 15px;
    width: 100%;
    text-align: center;
  }

  .gird-2 {
    grid-template-columns: 1fr;
    padding: 10px
  }

  .block__2 {
    padding: 30px
  }

  .block__cards {
    padding: 10px;
    grid-template-columns: 1fr;
    grid-gap: 30px;

    object {
      justify-self: center;
    }
  }
}
