<section class="block__2">
  <div class="flex-center">
    <h1 class="title--block__2">{{ "Simples e descomplicado" }}</h1>
  </div>

  <div class="block--light light-left"></div>
  <div class="block__cards">
    <div class="flex-center">
      <img src="assets/passo 1.svg"/>
    </div>
    <div><dc-separator-cards></dc-separator-cards></div>
    <div class="flex-center">
      <img src="assets/passo 2.svg"/>
    </div>
    <div><dc-separator-cards></dc-separator-cards></div>
    <div class="flex-center">
      <img src="assets/passo 3.svg"/>
    </div>
  </div>
  <div class="block--light light-right"></div>
</section>
