.title {
  background: #336EFF;
  border-radius: 16px 0px 16px 16px;
  width: max-content;
}

h1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 35px;
  display: flex;
  margin: 0;
  align-items: center;
  padding: 10px 28px 10px 28px;
}
