<section class="gird-2">
  <div>
    <h1 class="titile-1">
      <span class="blue">{{ "Crie" }}</span>
      &nbsp;
      <span>{{ "grupos e" }}</span>
      &nbsp;
      <span class="blue">{{ "compartilhe" }}</span>
    </h1>
    <h3 class="title-2">{{ "serviços de streaming com seus amigos!" }}</h3>
    <p class="title-3">
      {{
        "Crie e gerencie grupos de compartilhamentos de serviços como Netflix, Spotify e outras plataformas."
      }}
    </p>
    <div class="margin-button">
      <button class="btn-primary">
        {{ "start_to_divide" | translate }}
      </button>
    </div>
  </div>
  <div>
    <img class="mocap-note" src="assets/note-home.svg"/>
  </div>
</section>
