
.gird-2 {
  display: grid;
  padding: 120px 0px 10px 40px;
  grid-template-columns: 1.1fr 1fr;
}



.titile-1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 3.333rem;
  line-height: 82px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  margin: 0;
}

.title-2 {
  font-family: Nunito;
  width: 80%;
  font-style: normal;
  font-weight: bold;
  font-size: 2.667rem;
  line-height: 65px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  margin-top: 40px;
  margin-bottom: 30px;
}

.title-3 {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  width: 75%;
  margin: 0;
}

.mocap-note {
  width: 100%;
}

.margin-button {
  margin-top: 130px;

  margin-left: 16%;

  button {
    height: 53px;
    font-family: Slabo 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.667rem;
    line-height: 37px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
  }
}

.blue {
  color: #336EFF;
}

@media (max-width: 450px) {

  .titile-1 {
    text-align: center;
    font-size: 28px;
    word-break: break-word;
    display: flex;
    align-self: center;
    justify-content: center;
  }

  .title--block__2 {
    text-align: center;
    font-size: 18px;
    word-break: break-word;

  }

  .title-2 {
    width: 100%;
    font-size: 24px;
    word-break: break-word;
    line-height: 1.5;
    margin: 0;
    text-align: center;
  }

  .title-3 {
    margin-top: 15px;
    width: 100%;
    text-align: center;
  }

  .gird-2 {
  grid-template-columns: 1fr;
  padding: 10px
}

}
