@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');


@fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/css/font-awesome.css";


body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  color: #fff;
  overflow-x: hidden;
  background-color: #1E2023;
}

ul,
li {
  list-style: none;
  list-style-type: none;
  padding: 0;
}

.btn-default {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: 'Slabo 13px', serif;
  border-radius: 13px;
  grid-gap: 10px;
  padding: 5px 16px 5px 16px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  transition: 0.3s;
  height: 34px;
}

.btn-default:hover {
  background: rgba(102, 102, 102, 0.322);
  transition: 0.3s;
}

.btn-primary {
  cursor: pointer;
  display: flex;
  grid-gap: 10px;
  align-items: center;
  font-family: 'Slabo 13px', serif;
  border-radius: 13px;
  padding: 5px 16px 5px 16px;
  background-color: #336EFF;
  color: #fff;
  border: 0;
  font-size: 18px;
  transition: 0.3s;
  height: 34px;
}

.btn-primary:hover {
  background-color: #336dffab;
  transition: 0.3s;
}

.mt-auto {
  margin-top: auto;
}

i {
  font-size: 28px !important;
}

.text-input {
  height: 34px;
  width: calc(100% - 15px);
  background-color: #E8EAED;
  outline: none;
  padding-left: 10px;
}

.danger {
  color: red
}

.input-invalid {
  border: 0.6px solid red;
}

.flex-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.justify-space {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.d-flex {
  display: flex;
}

.mr-2 {
  margin-right: 1rem !important;
}

.ml-1 {
  margin-left: 0.5rem !important;
}

.ml-2 {
  margin-left: 1rem !important;
}

.ml-3 {
  margin-left: 1.25rem !important;
}

.mb-2 {
  margin-bottom: 1rem !important;
}

.mb-3 {
  margin-bottom: 1.25rem !important;
}

.mt-3 {
  margin-top: 1.25rem !important;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}
